body{
  min-width: 1000px;
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background: #c09be4;
}
.sublinhado{
  display:flex;
}
.desenharLinhas{
  border-bottom: solid 4px #300248;
  width: 30px;
  margin: 10px;
}
.esconderLetra{
  display: none;
  font-size: 18px;
}

.btn-iniciar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  
  position: absolute;
  width: 317px;
  height: 114px;
  left: 0;
  top: 20rem;
  background: #671073;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

.btn-palavra{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  position: absolute;
  width: 280px;
  height: 67px;
  left: 1.2rem;
  top: 28rem; 
  border: 1px solid #30024871;
  box-sizing: border-box;
  border-radius: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  color: #0A3871;
  }

  .text-input {
    /* Digite seu texto */
  
    position: absolute;
    width: 600px;
    height: auto;
    left: 1.5rem;
    top: 200px;
  
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    justify-content: baseline;
    color: #300248;
    background: transparent;
    border: none;
    text-transform:uppercase;
    }
  ::placeholder { color: #0A3871; text-transform:lowercase;}
  
  .text-input:focus { 
      border: none;
      outline: none;
     }
.logo{
  position: absolute;
  left: 50px;
  right: 37.43%;
  top: 50px;
  bottom: 0%;
  width: 50px;
  height:50px;
}
.img-alerta{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

}
 label {
  flex-direction: row;
  position: static;
  width: 300px;
  height: 18px;
  left: 24px;
  top: 0px;
  padding-left: 25px;
  font-weight: 600;
  
  font-family: Inter;
  font-style: normal;
  font-size:18px;
  line-height: 100%;

  color: #495057;
 }
.form-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  
  position: absolute;
  width: auto;
  height: 18px;
  left: 2rem;
  top: 41rem;
 }
.botoes-div{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  
  position: absolute;
  width: 680px;
  height: 67px;
  left: 0;
  top: 43rem;
 }
.btn-azul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;
  left: 0px;
  top: 0px;

  background: #540482;
  border-radius: 24px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 24px;
  flex-grow: 0;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  justify-content: center; 

}
.btn-branco{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;

  position: static;
  width: 328px;
  height: 67px;
  left: 352px;
  top: 0px;
 background: #b36ae7;
  border: 1px solid #330945;
  box-sizing: border-box;
  border-radius: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 24px;

  color: #e6e9ed;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 19px;
  justify-content: center;
}
.canvas{
  margin-left: 2.5rem;
  width: 1024px;
  height:800px
}
.botoes-div-canvas{
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  position: absolute;
  width: 680px;
  height: 67px;
  left: 28.5rem;
  top: 760px;
  margin-bottom: 25px;
 }
 .botoes-home{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left:42rem;
 }
 .palavra-nova{
  position: absolute;
  left: 30rem;
 }
 .footer {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin-top: 1%;
  position: center;
}

.footer p {
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 500px) {
  body, input, button {
    font-size: 15px;
  }
}


footer {
display: flex;
 position: absolute; 
flex-direction: column;
text-align: center;    
font-size: 18px;
color: #ecedee;
height: 3.5rem; 
width: 100%; 
bottom: 0px;
}
